@{
    ViewData["Title"] = "Home Page";
}

<h1>Account Validation</h1>
<p>
Hit http://localhost:5001/Validation/Validate?sortcode=xxxxxx&accountnumber=xxxxxxxx to validate an account number.</p>